.field {
    margin-bottom: 22px !important;
}

.button.is-medium {
    font-size: 15px !important;
    padding: 20px 12px !important;
}

// Validation messages in forms have no bottom margin.
p.help {
    margin-bottom: 0;
}
