$blue: #2c7be5;
$black: #12263f;
$grey: #95aac9;
$grey-lighter: #d2ddec;
$red: #e63757;
$green: #00d97e;

// These are Bulma variables. By editing them here the colors
// are fixed in all styles.
$primary: $blue;
$text: $black;
$text-light: $grey;
$text-strong: $black;
$border-hover: $grey-lighter;
$input-placeholder-color: $grey;
$body-size: 15px;
$input-radius: 6px;
$control-radius: 8px;
$family-primary: "Cerebri Sans", sans-serif;
